<div class="sidenav">
    <div class="login-main-text">
       <span href="javascript:void(0)" (click)="goToHomePage()"><h2><i class="fa fa-home me-1"></i>DOMINION</h2></span>
       <h2>Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="User Name">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <br>
             <a class="btn btn-black" href="javascript:void(0)" (click)="signIn()">Login</a>
             <a class="btn btn-secondary ms-1" href="javascript:void(0)" (click)="goToRegister()">Register</a>
          </form>
       </div>
    </div>
 </div>